@import "tailwindcss";

@layer components {

    .external-link[href^="http"]::after,
    .external-link[href^="https"]::after {
        content: "_↗";
        margin-left: 6px;
        display: inline-block;
    }

    .external-link:hover {
        font-weight: bolder;
    }
}
